<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FECoreData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5FBCFE31D6959C000F68799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5FBCFFC1D6959C100F68799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5FBD0071D6959C100F68799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
